<ion-view view-title="ToDo List 3">
    <ion-content>
        
        <form class="item item-input" ng-submit="addItem()">
            <input type="text" ng-model="$parent.newTask" placeholder="Type a new task!"> 
            <button class="addButton">Add</button>
        </form>

        <ion-list>
            <ion-item ng-repeat="item in todo3 track by $index" ng-class="{completed: todo3[$index].done == 'true'}" on-double-tap="deleteItem($index)" on-tap="completeItem($event, $index)" >
                {{item.task}}
            </ion-item>
            
        </ion-list> 
           
    </ion-content>
  
</ion-view>